<div class="container" style="text-align: center; color:#ffffff">
    <h1>chaparro Jhon</h1>
    <br>
    <img width="400" alt="Integrante Grupo" src="./../../assets/jh.jpg">
    <br>
    <p>Soy una persona de 21 años, me gustan hacer deporte, vivo en tulua valle junto a mi familia, tengo experiencia en java, en los futuros 3 años espero ser mi propio jefe de evon y de natura</p>
    <br>
    <hr>
    <h1>chaparro Cristian</h1>
    <img width="400" alt="Integrante Grupo" src="./../../assets/yo.jpg">
    <br>
    <p>Soy una persona de 23 años, me gustan los perros y ver peliculas, vivo en tulua valle junto a mi familia, tengo experiencia en java, en los futuros 3 años espero ser la competancia de avon y superar a natura </p>

</div>